<div class="text-sm breadcrumbs">
  <ul>
    <li><%= link "Auratus", to: Routes.page_path(@conn, :index, page: 1) %></li> 
    <li>Albums</li>
  </ul>
</div>

<main>
  <%= for album <- @albums do %>
      <div class="w-full">
        <%= link album.title, to: Routes.page_path(@conn, :show_album, album.id) %>
      </div>
      <% end %>
</main>

